<app-header></app-header>
<div *ngIf="isLoadingForm" class="text-center mt-5">
  <div class="spinner"></div>
  <p>Cargando formulario...</p>
</div>

<div *ngIf="!isLoadingForm" class="row justify-content-center">

  <div class="col-md-3 cover-container mb-4 mt-4">

    <img [src]="cover" alt="Portada del juego" class="cover-image">
  </div>

  <div class="col-md-3 mb-4 mt-4">
    <div class="title-container">
      <h1 class="title">{{ title }}</h1>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="game-form">
      <input type="hidden" name="uuid" [value]="uuid">
      <div class="form-group">
        <label for="userRating">Nota</label>
        <select id="userRating" formControlName="userRating" class="form-control">
          <option value="-1">Sin valoración</option>
          <option *ngFor="let rating of ratings" [value]="rating">{{ rating }}</option>
        </select>
        <div *ngIf="form.get('userRating')?.invalid && form.get('userRating')?.touched" class="error-message">
          Debes seleccionar una nota válida.
        </div>
      </div>
      <div class="form-group">
        <label for="timePlayed">Tiempo jugado (horas)</label>
        <input id="timePlayed" formControlName="timePlayed" type="number" class="form-control">
        <div *ngIf="form.get('timePlayed')?.invalid && form.get('timePlayed')?.touched" class="error-message">
          El tiempo jugado debe ser mayor o igual a cero.
        </div>
      </div>
      <div class="form-group">
        <label for="state">Estado</label>
        <select id="state" formControlName="state" class="form-control">
          <option value="pendiente">Pendiente</option>
          <option value="finalizado">Finalizado</option>
          <option value="jugando">Jugando</option>
          <option value="deseado">Deseado</option>
        </select>
        <div *ngIf="form.get('state')?.invalid && form.get('state')?.touched" class="error-message">
          Debes seleccionar un estado válido.
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Añadir</button>
      <div *ngIf="isLoading" class="spinner"></div>
    </form>
  </div>
</div>

<app-footer></app-footer>
